*{
    box-sizing: border-box;
}

body{
    width: 100vh;
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
    text-align: center;
}